/* Efeitos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-parallax1,
.container-parallax2,
.container-parallax3,
.container-parallax4,
.container-parallax5 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* Topo da página */ 
.container-topo {
    width: 100%;
    position: fixed;
    background-color: #604829;
    z-index: 1;
}

.container-topo img {
    width: 100px;
    position: relative;
    left: 15%;
}

.container-topo div {
    position: absolute;
    top: 35%;
    right: 15%;
}

.container-topo div a {
    margin-right: 20px;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 3px 5px 2px #000000;
    letter-spacing: 2px;
    color: #c4a47c;;
}